@media (max-width:1024px){
    .cabecalho .logo{
        max-width: 190px;
        padding: 16px;
    }

    .selecao-de-personagens{
        flex-direction: column-reverse;
        max-width: 414px;
        margin: 0 auto;
    }

    .selecao-de-personagens .personagens{
        margin-top: 9px;
    }

    .selecao-de-personagens .personagens .titulo{
        font-size: 16px;
    }

    .selecao-de-personagens .lista-de-personagens{
        gap: 9px
    }
    .selecao-de-personagem .personagem img{
        width: 80px;
        height: 80px;
    }


    .personagem-selecionado .personagem-grande{
        width:80%;
        height: auto;
    }

    .personagem-selecionado .descricao-personagem{
        width: 80%;
        font-size: 16px;
        margin: 20px auto;
    }
}
